.chat-main__body--messages-list
  .chat-main__body--massages-list--massage
    .chat-main__body--massages-list--massage-name
      kawashima
    .chat-main__body--massages-list--massage-time
      2018/02/12 19:38:00
    .chat-main__body--massages-list--massage-body
      aaaaaaa
.chat-main__body--messages-list
  .chat-main__body--massages-list--massage
    .chat-main__body--massages-list--massage-name
      iida
    .chat-main__body--massages-list--massage-time
      2018/02/12 19:39:00
    .chat-main__body--massages-list--massage-body
      aaaaaaa
    .chat-main__body--messages-list
.chat-main__body--massages-list--massage
  .chat-main__body--massages-list--massage-name
    kawashima
  .chat-main__body--massages-list--massage-time
    2018/02/13 19:39:00
  .chat-main__body--massages-list--massage-body
    oooooooooooooo
