.wrapper
  %p.create-chatgroup
    チャットグループが作成されました。
  .chat-side
    .chat-side__user
      .chat-side__user-content
        .chat-side__user-name
          kawashima
          = link_to '/' do
            %i.fa.fa-cog.icon
          = link_to '/' do
            %i.fa.fa-edit.icon
    .chat-side__groups
      .groups-list
        .groups-list--group
          .groups-list--group-name
            america
          .groups-list--group-message
            USA USA
      .groups-list
        .groups-list--group
          .groups-list--group-name
            nippon
          .groups-list--group-message
            JPN JPN
  .chat-main
    .chat-main__header
      .chat-main__header--group
        .chat-main__header--group-name
          america
          %input.button{type: "button",name: "edit", value: "Edit"}
      .chat-main__header--member
        MEMBER: kawashima
    .chat-main__body
      = render partial: "message"
    .chat-main__footer
      %form.chat-main__footer--form
        %input.chat-main__footer--form-message{placeholder: "type a message"}
          %i.fa.fa-image.icon
        %input.chat-main__footer--input{type: "button", name: "send", value: "Send"}
