.wrapper{
  height: 100%;
  .create-chatgroup{
    background-color: $skyblueColor;
    text-align: center;
    color: $white;
  }

  .chat-side{
    height: 100vh;
    width: 260px;
    background-color: #2f3e51;
    float: left;
    color: $white;
    text-align: left;

    .icon{
      color: white;
      float: right;
      position: relative; top: 28px;
    }

    &__user{
      height: 100px;
      padding: 0px 20px;
      background-color: #253141;
      line-height: 70px;
      font-size: 16px;
      &-content{
        padding-top: 10px;
        &-name{
          font-size: 16px;
          color: $white;
          font: bold;
        }
      }
    }

    &__groups{
      height: calc(100vh - 100px);
      padding: 0px 20px;
      overflow: scroll;
      .groups-list{
        padding-top: 20px;
        padding-bottom: 40px;
        color: $white;
        text-decoration: none;
        &--group{
          &-name{
            font-size: 15px;
            padding-bottom: 5px;
          }
          &-message{
            font-size: 11px;
          }
        }
      }
    }
  }


  .chat-main{
    height: 100vh;
    width: calc(100vw - 300px);
    float: left;

    &__header{
      height: 100px;
      border-bottom: 2px solid #eeeeee;
      padding: 0px 40px;
      &--group{
        &-name{
          padding-top: 35px;
          font-size: 20px;
          color: #333333;
          .button{
            border: 1px $skyblueColor solid;
            font-size: 12px;
            padding: 10px 20px;
            background-color: white;
            color: $skyblueColor;
            float: right;
            position: relative; bottom: 7px;
          }
        }
      }
      &--member{
        padding-top: 15px;
        font-size: 12px;
        color: #999999;
      }
    }

    &__body{
      height: calc(100vh - 190px);
      padding: 0px 40px;
      overflow: scroll;
      .messages-list{
        &--message{
          &-name{
            font: bold;
            line-height: 10px;
            padding-top: 46px;
            padding-bottom:10px;
            font-weight: bold;
          }
          &-time{
            font-size: 12px;
            color:#999999;
          }
          &-body{
            font-size: 14px;
            color:#434A54;
          }
          .img{
            height: 100px;
            width: 150px;
          }
        }
      }
    }

    &__footer{
      height: 90px;
      padding: 0px 40px;
      background-color: #B8C3C7;
      .i{
        background-color: white;
        padding: 17px 1px;
        position: relative; right: 5px;
      }
      &--form{
        height: 50px;
        box-sizing: border-box;
        padding: 20px 0px;
        &-message{
          width: calc(100% - 125px);
          padding: 13px 0 13px 10px;
          line-height: 10px;
          border: none;
          box-sizing: border-box;
          font-size: 16px;
        }
        .form__label{
          .hidden{
            display: none;
          }
        }
      }
      &--input{
        border: none;
        padding: 13px 30px ;
        float: right;
        background-color: $skyblueColor;
        color: white;
      }
    }
  }
}
